.time-interval {
    padding-top: 30px;
    border-top: 1px solid rgba(169, 169, 169, 0.5);
    max-width: 702px;
    width: 100%;
    border-radius: 5px;
}
.time-interval__title {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0D0802;
}
.time-interval__content {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}
.time-interval__slider {
    width: 100%;
    display: flex;
    position: relative;
}
.time-interval__item {
    padding: 10px;
    background: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
}
.time-interval__item:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.item-time-interval {
}
.item-time-interval__head {
    display: flex;
    justify-content: flex-start;
}
.item-time-interval__date {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #D00A10;
    margin-right: 15px;
}
.item-time-interval__day {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #0D0802;
}
.item-time-interval__body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item-time-interval__item {
    width: 100%;
    max-width: 100%;
}
.item-time-interval__radio {
    display: none;
}
.item-time-interval__radio:checked + .item-time-interval__label{
    border: 2px solid #D90000;
}
.item-time-interval__radio:checked + .item-time-interval__label::before{
    content: url(/dist/img/icons/checked.svg);
    margin-right: 10px;
}
._disabled {
}
.item-time-interval__label{
    cursor: pointer;
    max-width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #DEE0E3;
    border-radius: 4px;
    padding: 0px 10px 0px 5px;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #A4A4A5;
}
.item-time-interval__label p {
    margin: 14px 0;
}
.item-time-interval__label._disabled{
    background: #F4F4F4;
    justify-content: center;
}
.item-time-interval__time {
    flex: 1 1 100%;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #0D0802;
    min-width: 80px;
}
.item-time-interval__price {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #A4A4A5;
    min-width: 45px;
}

.time-interval__content .slick-arrow{
    position: absolute;
    top: 10px;
    font-size: 0;
    background: transparent;
    border:none;
    z-index: 2;
    cursor: pointer;
}
.time-interval__content .slick-prev {
     left: -20px;
    box-shadow: none;
 }
.time-interval__content .slick-prev:before {
     content: none;
 }
.time-interval__content .slick-prev{
    height: 20px;
    width: 20px;
    background: url(/dist/img/arrow-slider-active.svg) center center / auto no-repeat;
    transform: rotate(180deg);
}
.time-interval__content .slick-prev.slick-disabled{
    background: url(/dist/img/arrow-slider-left.svg) center center / auto no-repeat;
    transform: rotate(0deg);
}

.time-interval__content .slick-next {
    right: -20px;
    box-shadow: none;
}
.time-interval__content .slick-next:before {
    content: none;
}
.time-interval__content .slick-next{
    height: 20px;
    width: 20px;
    background: url(/dist/img/arrow-slider-active.svg) center center / auto no-repeat;
    transform: rotate(0deg);
}
.time-interval__content .slick-next.slick-disabled{
    background: url(/dist/img/arrow-slider-left.svg) center center / auto no-repeat;
    transform: rotate(180deg);
}
.time-interval__content .slick-list{
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
}
.time-interval__content .slick-track{
    display: flex;
}

@media screen and (max-width: 768px) {
    .item-time-interval__time {
        min-width: 50px;
    }
}
